
/*============== LISTA DE COMICS =================*/
.comicsrelacionados{
    margin-top: 90px;

}
/*scoll*/
.listadecomics::-webkit-scrollbar {
    height: 7px;
    cursor: pointer;
}

.listadecomics::-webkit-scrollbar-track {
    background-color: lightgrey;
}

.listadecomics::-webkit-scrollbar-thumb {
    background: red;
    width: 10px;
}
/*-----*/


.listadecomics {
    padding-bottom: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 90%;
    overflow-x: scroll;

    ul {

        display: flex;
        width: 100%;
        overflow: visible;
        padding: 0;
    }

    li {
        font-weight: 800;
        transition: margin-left 4s;
        width: 200px;
        margin: 0px 20px 20px 0px;

        span{
            font-size: 12px;
            color: grey;
        }
    }

    img{
        width: 150px;
        margin-top: 12px;
        margin-bottom: 12px;
        box-shadow: 0 7px 17px -8px rgba(0, 0, 0, 0.8);
        transition: 0.3s ease-in-out;
        transform: translateY(0px);

        /*animacion en hover*/
        &:hover {
            transform: translateY(-10px);
        }
    }


}







/*============== COMIC DESTACADO =================*/

.comicdestacado {
    margin-top: 150px;
    margin-bottom: 130px;
    height: 490px;
    width: 100%;
    flex-direction: row;
    background-image: url(../imagenes/Dr-strange-bg-1.jpg);
    background-position: center;
    background-size: cover;
    background-color: #373F41;

    h1{
        color: white;
        font-weight: 1000;
        font-size: 64px;
        line-height: 80px;
        letter-spacing: 0.2px;

    }

    .comicdestacado__editorial{
        padding-left: 10px;
        font-size: 20px;
    }

    .comicdestacado__text {
        color: white;
        width: 50%;
        margin-left: 160px;
        position: relative;
        top: 140px;
        transition: 0.6s ease-in-out;
        transform: scale(100%);
        &:hover {
            transform: scale(105%);
        }
    }

    .comicdestacado__img {
        width: 50%;
    }

    img {
        width: 380px;
        float: right;
        margin-right: 130px;
        margin-top: -230px;
        box-shadow: 0 7px 17px -8px rgba(0, 0, 0, 0.8);
        transition: 0.6s ease-in-out;
        transform: scale(100%);

        /*animacion de zoom*/
        &:hover {
            transform: scale(105%);
            box-shadow: 0 15px 30px -8px rgba(0, 0, 0, 0.8); ;
        }
    }
    
}







/*===============SUPER-BLOG===================*/
/*
.blogcontainer {
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog h2 {
    font-size: 50px;
    font-weight: 900;
    color: black;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 200px;
}


/*==posteodestacado== */
/*
article.posteodestacado {
    max-width: 66.66%;
    overflow: hidden;
    height: 525px;
    display: flex;
    justify-content: center;

}

.posteodestacado a img{
    height:550px;
}

.posteodestacado a h3{
        margin-top: -90px;
    padding-left: 115px;
    color: white;
    font-size: 25px;
    font-weight: 900;
    
}

.posteodestacado a h3:hover{
    color: #e62429;
}


/*==post==*/
/*
article.post {
    background-color: #f8f8f8;
    max-width: 32%;
    height: 525px;
    overflow: hidden;

}

.post a img{
    max-height: 303px;
    
}


/*==postfooter==*/
/*
.postfooter {
    padding: 5%;
    
}
.postfooter h5{
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 0.5em;
    font-weight: 800;
}


/*==margin posts==*//*
.post, .posteodestacado{
    margin:0px 3px 15px 3px;
}
*/

/*LO MISMO PERO EN GRID / CREO / */

.blog {


    h2 {
        font-size: 50px;
        font-weight: 900;
        color: black;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 200px;
        &:hover {
            color: #e62429;
        }
    }

    img {
        height: 100%;
        object-fit: cover;
    }

    .post {
        
        img {
            height: 45%;
            width: 100%;
            object-fit: cover;
        }
    }
}



.blogcontainer {
    margin: 0 auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33% ;
    grid-template-rows:  1f 1f 1f 1f 1f 1f 1f 1f 1f 1f 1f 1f    ;
    grid-gap: 15px 7px;
    justify-content: space-between;

    h5{
        font-size: 22px;
        font-weight: 900;
    }

    span{
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: rgb(41, 41, 41)


    }

    .post{ 
        img {
            height: 250px;
        }
    }
    
    .post1 {
        display: none;
    }

    .post2 {
        grid-column: 3 / 4;
        grid-row: 1/3;
    }
    
    .post3 {
        grid-column: 1 / 2 ;
        grid-row: 5/7;
    }
    
    .post4 {
        grid-column: 2 / 3 ;
        grid-row: 5/7;
    }
    
    .post5 {
        grid-column: 3 / 4 ;
        grid-row: 5/7;
    }
    
    .post6 {
        grid-column: 1 / 2 ;
        grid-row: 7/9;
    }
    
    .post7 {
        grid-column: 2 / 3 ;
        grid-row: 7/9;
    }
    
    .post8 {
        grid-column: 3 / 4 ;
        grid-row: 7/9;
    }

}


.posteodestacado {
    grid-column: 1 / 3;
    grid-row: 1/3;

    img {
        width: 100%;
        object-fit: cover;
    }

    h3 {
        position: relative;
        bottom: 13%;
        left: 10px;
        color: white;
        margin-bottom: 0;
    }
}




/*==post==*/

article.post {
    background-color: #f8f8f8;
    overflow: hidden;
    

}

.post a img{
    max-height: 303px;
    
}


/*==postfooter==*/

.postfooter {
    padding: 5%;

    h5{
        font-size: 20px;
        text-transform: uppercase;
        padding-bottom: 0.5em;
        font-weight: 800;
    }
    
}


/*asdasdasd



asdasdsadas*/